@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* ________________header_____________ */

.header{
    width: 100%;
    height: fit-content;
    background-color: #FFFBF0;
}

.head-content{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-content img{
    width: 40%;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-items .item{
    list-style: none;
}

.nav-items .item a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family: "Roboto", serif;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.5s ease;
}

.list-icon{
    display: none;
    font-size: 30px;
}

/* ________________section-1-bannar_______________ */

.bannar{
    width: 100%;
    height: fit-content;
    background: #FFFBF0;
}

.bannar-content{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-left-content{
    flex-basis: 50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.bannar-title{
    font-family: "Bebas Neue", serif;
    font-size: 70px;
    font-weight: 500;
    color: #363958;
    line-height: 1;
}

.banner-para{
    color: #3E3E3E;
}

.spn-1{
    font-family: "Bebas Neue", serif;
    color: #FABE4C;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(133, 160, 25, 1), rgba(164, 188, 70, 1));
    color: #FFF;
}

.btn .shop-cart{
    width: 20%;
}

.bannar-pic{
    flex-basis: 50%;
    padding-left: 100px;
}

/* _______________section-2-women-jacket______________ */

.sec-2-content{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.sec-2-title{
    font-size: 38px;
    margin-bottom: 40px;
    font-family: "Bebas Neue", serif;
    color: #363958;
    font-weight: 600;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px 0;
}

.imag{
    border-radius: 15px;
    padding: 40px;
    background: #f1f1f1;
}

.card-container img{
    width: 100%;
}

.pdct-card{
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0 0 24px #f2f2f2;
}

.card-content{
    margin: 20px;
}

.card-text{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-para{
    font-size: 15px;
    color: #3E3E3E;
}

.card-title{
    color: #363958;
}

.price{
    font-size: 36px;
    color: #FABE4C;
}

.prc-and-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ___________section-4__________ */

.sec-4-shop{
    margin: 120px 0 0px 0;
}


.sec-4-content{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sec-4-left{
    flex-basis: 40%;
}

.long-card-content{
    display: flex;
    gap: 30px;
    align-items: center;
    background: #FFF;
    box-shadow: 0 0 10px #f2f2f2;
    padding: 30px;
    border-radius: 10px;
}

.logn-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.long-card-content img{
    width: 14%;
}

.left-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec-4-right{
    flex-basis: 50%;
}

.sec-4-right img{
    width: 90%;
}

/* ___________footer__________ */

.foot{
    width: 100%;
    height: 80px;
    background: #363958;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right{
    color: #aeaeae;
    font-weight: 400;
}
@media screen and (max-width: 576px) {
    
    /* ____________header-responsive___________ */
    
    .header{
        border-bottom: 1px solid #3E3E3E;
    }

    .head-content{
        width: 90%;
    }

    .nav-items{
        display: none;
    }

    #list{
        width: 8%;
        display: block;
    }
    .head-content img{
        width: 50%;
    }

    /* _____________bannaer-responsive____________ */

    .bannar-content{
        width: 90%;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .bannar-pic{
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bannar-pic .model-pic{
        width: 70%;
    }

    .bannar-left-content{
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bannar-title{
        font-size: 3em;
        text-align: center;
    }

    .banner-para{
        text-align: justify;
    }

    /* ___________section-2-3_resposive__________ 
    */

    .sec-2-content{
        width: 90%;
        margin-top: 40px;
    }

    .sec-2-title{
        font-size: 36px;
        text-align: center;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 0;
    }

    .sec-3-product-card{
        margin-top: 90px;
    }

    /* ______________Sec-4-responsive____________ */

    .sec-4-shop{
        margin: 80px 0 200px 0;
    }

    .sec-4-content{
        width: 90%;
        flex-direction: column-reverse;
    }

    .long-card-content{
        display: flex;
        gap: 30px;
        align-items: center;
        background: #FFF;
        box-shadow: 0 0 10px #f2f2f2;
        padding: 30px;
        border-radius: 10px;
        flex-direction: column;
    }

    .long-card-content img{
        width: 24%;
    }

    .left-right{
        text-align: center;
    }
}